<div class="container">
  <h1 class="text-center m-4">Find your favorite bear in a flat near you</h1>

  <% @flats.each do |flat|%>
    <div class="card-trip mb-4">
      <%= image_tag url_for(flat.photo) %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to flat.name, flat_path(flat) %></h2>
          <p><%= flat.description %></p>
          <p>You will be welcomed by our wonderful <%= flat.bear.species %> bear <strong><%= flat.bear.name %></strong></p>
        </div>
        <h2 class="card-trip-pricing"><%= flat.price %>€</h2>
        <%= image_tag url_for(flat.bear.photo), class:"card-trip-user avatar-large" %>
      </div>
    </div>
  <% end %>
</div>
