<div class="container" style="margin-top: 5em">
  <div class="card-product">
    <%= cl_image_tag @flat.photo.key %>
    <div class="card-product-infos">
      <h2><%= @flat.name %></h2>
      <p> <%= @flat.address %> </p>
      <p> <%= @flat.description %> </p>
      <p> <%= @flat.price %>€ per night </p>

      <% if @flat.capacity == 1 %>
        <p> <%= @flat.capacity %> guest </p>
      <% else %>
        <p class="mb-4"> <%= @flat.capacity %> guests </p>
      <% end %>
      <p>You will be welcomed by our wonderful <%= @flat.bear.species %> bear <strong><%= @flat.bear.name %></strong>!</p>
      <hr>
      <div id='flat-booking-dates' data-unavailable="<%= @flat.unavailable_dates.to_json %>">
         <%= simple_form_for([@flat, @booking]) do |f| %>
             <%= f.input :start_date, as: :string, type: :text, input_html: {class: "datepicker"} %>
             <%= f.input :end_date, as: :string, type: :text, input_html: {class: "datepicker"} %>
             <%= f.submit "Book", class: "btn btn-info", data: { confirm: 'Are you sure? Really, REALLY sure?'} %>
          <% end %>
       </div>
    </div>

    <div class="card-product-bear">
    <%= cl_image_tag @flat.bear.photo.key, class:"card-product-bear avatar-bordered" %>
    </div>
  </div>
</div>


