<div class="container" style="margin-top: 5em">
  <div class="card-product">
    <%= cl_image_tag @flat.photo.key %>
    <div class="card-product-infos">
      <h2><%= @flat.name %></h2>
      <p> <%= @flat.address %> </p>
      <p> <%= @flat.description %> </p>
      <p> <%= @flat.price %>€ per night </p>

      <% if @flat.capacity == 1 %>
        <p> <%= @flat.capacity %> guest </p>
      <% else %>
        <p class="mb-4"> <%= @flat.capacity %> guests </p>
      <% end %>

      <%= simple_form_for [@flat, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit class: "btn btn-outline-info" %>
      <% end %>
    </div>

    <div class="card-product-bear">
    <%= cl_image_tag @flat.bear.photo.key, class:"card-product-bear avatar-bordered" %>
    </div>
  </div>
</div>


