<div class="container" style="margin-top: 5em">
  <div style="text-align: center">
    <% if @bookings.empty? %>
      <h1 class="text-center m-4">Lookings like you don't have any bookings yet!</h1>
      <p>Click below to start your journey!</p> 
      <a class="btn btn-outline-info" href="/flats">Explore nearby</a>
    <% else %>
      <h2 class="text-center m-4">Your recent bookings:</h2>
    <% end %>
  </div>

  <% @bookings.each do |booking|%>
  <%= link_to flat_path(booking.flat.id), class: 'card-links' do%>
  <div class="card-trip mb-4">
   <%= cl_image_tag booking.flat.photo.key %>
      <div class="card-trip-infos">
        <div>
          <h2><%= booking.flat.name %></h2>
          <p>Your booking is <strong>confirmed</strong> from <%= booking.start_date.to_s(:long) %> to <%= booking.end_date.to_s(:long) %>!</p>
          <p>We hope you're excited! <strong><%= booking.flat.bear.name %></strong> sure is!</p>
        </div>
        <h2 class="card-trip-pricing"><%= booking.flat.price %>€</h2>
        <%= cl_image_tag booking.flat.bear.photo.key, class:"card-trip-user avatar-large" %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
