<%= render 'shared/banner' %>
<h2 class="text-center my-4">
  Bebear of a new style of bed and breakfast!
</h2>
<div class="text-center">
  <a class="btn btn-info" href="/about">Meet the bears</a>
</div>
<div class="container" style="margin: 0 auto">
  <div class="mt-4 d-flex justify-content-center" style="margin-bottom: 20px">
  <%= render 'shared/carousel'%>
  </div>
</div>
<div class="container" style="margin-top: 90px">
  <div style="text-align: center">
    <h2 class="text-center mb-3">
      See what others have been saying!
    </h2>
    <div class="card mb-4 px-4" style="width:50%; margin: 0 auto; padding-top: 15px">
      <p>"Amazing experience! I only lost two friends!"<p>
      <p>              —Greg from Kentucky</p>
    </div>
    <div class="card mb-4 px-4" style="width:50%; margin: 0 auto; padding-top: 15px">
      <p>"Would definitely try again! Just make sure to bring lots of salmon!"<p>
      <p>              —Tina from Karlsruhe</p>
    </div>
    <a class="btn btn-info mb-3" href="/about">Meet the bears!</a>
    <h2 class="text-center mb-3">
      Top flat near you! Bearably nice!
    </h2>
    <div class="d-flex justify-content-center">
      <% flat = Flat.all.first %>
      <%= link_to flat_path(flat), class: "card-links d-flex justify-content-center" do %>
        <div class="card-trip mb-4 text-center" style="width: 50%">
          <%= cl_image_tag flat.photo.key %>
          <div class="card-trip-infos">
            <div>
              <h2><%= flat.name %></h2>
              <p><%= flat.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= flat.price %>€</h2>
            <%= cl_image_tag flat.bear.photo.key, class:"card-trip-user avatar-large" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<footer>
  <%= render 'shared/footer' %>
</footer>
